{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Company</th>
						<th>Description</th>
						<th>Skills Required</th>
						<th>Specialty</th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>
						<td>{{ project.name }}</td>
						<td>{{ project.company }}</td>
						<td>{{ project.description }}</td>
						<td>
							{% for skill in project.languages.all %}
							{{ skill.name }}
							{% endfor %}
						</td>
						<td>
							{% for specialty in project.specialty.all %}
							{{ specialty.name }}
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}