{% extends "body.html" %}

{% block content %}
	
	<!-- Content -->
	<div class="container" role="main">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th></th>
						<th>Project Name</th>
						<th>Company</th>
						<th> </th>
					</tr>
				</thead>
				<tbody>
					{% for project in projects %}
					<tr>
						<td>
							<!--Temp for BookMark/Unbookmark button, need to change for functionality-->
							<a href="/bookmarks/add?name={{project.name}}" class="btn btn-default">Bookmark</a>
						</td>
						<td>{{ project.name }}</td>
						<td>{{ project.company }}</td>
						{% if userInCompany %}
						<td>
							<a href="/project/update?name={{ project.name }}" class="btn btn-default">Modify Project</a>
						</td>
						<td>
							<a href="/project/remove?name={{project.name}}" class="btn btn-default">Delete Project</a>
						</td>
						{% elif userInGroup %}
						<td>
							<a href="/project/take?name={{project.name}}" class="btn btn-default">Claim this Project</a>
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}