{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
			{% if userIsMember %}
			<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
			<form method="post" action="/group/add?name={{group.name}}">
				{% csrf_token %}
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="email" id="email" placeholder="Input email of a user you want to add..." class="form-control" data-bvalidator="required" data-bvalidator-msg="Email Required" maxlength="150">
				<input type="submit" value="Add Member" class="btn btn-default">
			</form>
			<a href="/group/remove?name={{group.name}}" class="btn btn-default">Disband Group</a>
			{% else %}
			<a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
			{% endif %}
		</div>
	</div>

	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Project Name</th>
						<th>Description</th>
						<th>Company</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{ selectedProject.name }}</td>
						<td>{{ selectedProject.description }}</td>
						<td>{{ selectedProject.company }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>User</th>
						<th>Email</th>
						<th>About</th>
						<th>Skills</th>
						<th>Specialty</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
						<td>{{ item.get_email }}</td>
						<td>{{ item.about }}</td>
						<td>
							{% for skill in item.skills.all %}
							{{ skill.name }}
							{% endfor %}
						</td>
						<td>
							{% for specialty in item.specialty.all %}
							{{ specialty.name }}
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if userIsMember %}
			<a href="/project/suggested" class="btn btn-default">Suggested Projects...</a>
			{% endif %}
		</div>
	</div>

{% endblock %}