{% extends "body.html" %}

{% block content %}

	<!-- Content -->
	<div class="container theme-showcase" role="main">
		<div class="jumbotron">
			<h1>{{ group.name }}</h1>
			<p>{{ group.description }}</p>
			{% if userIsMember %}
			<a href="/group/unjoin?name={{ group.name }}" class="btn btn-default">Unjoin this Group</a>
			<form method="post" action="/group/add?name={{group.name}}">
				{% csrf_token %}
				<h6 style="color:red">{{ error }}</h6>
				<input type="text" name="email" id="email" placeholder="Input email of a user you want to add..." class="form-control" data-bvalidator="required" data-bvalidator-msg="Email Required" maxlength="150">
				<input type="submit" value="Add Member" class="btn btn-default">
			</form>
			<a href="/group/remove?name={{group.name}}" class="btn btn-default">Disband Group</a>
			{% else %}
			<a href="/group/join?name={{ group.name }}" class="btn btn-default">Join this Group</a>
			{% endif %}
		</div>
	</div>
	
	<div class="container">
		<div class="table-responsive">
			<table class="table table-striped sortable">
				<thead>
					<tr>
						<th>Users</th>
					</tr>
				</thead>
				<tbody>
					{% for item in group.members.all %}
					<tr>
						<td>{{ item.get_full_name }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock %}