{% extends "body.html" %}
{% block content %}
    <!-- Content -->
    <div class="container" role="main">
        <div class="table-responsive">
            <table class="table table-striped sortable">
                <thead>
                    <tr>
                      <th></th>
                      <th style="width: 100%">Bookmark</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in bookmarks %}
                   <tr>
                      <td> <a href="/bookmarks/remove?id={{item.user.id}}" class="btn btn-default">Remove Bookmark</a></td>
                      <td>{{ item.project }}</td>
                   </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}